@import "tailwindcss";

.trapezium {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(45deg, #ecffdc, white);
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
  z-index: -1;
}

.btn {
  background: linear-gradient(45deg, #ecffdc, #ecffdc);
}
